<!-- <h1> Hello World </h1> -->
{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Welcome to the best Movie Review website </title>
    {% endif %}
</head>

<body>
    {% block content %}
    <title>All Genres</title>
    <div class="card col-sm mt-2 text-center">
        <div class="card-body">
            <div class="row">
              {{ macro.displayGenres(genres)}}
            </div>
        </div>
    </div>
    <div class="text-center" style="margin-right: 10%; margin-left: 10%; font-weight: 700;">
        <hr>
        <h2 class="text-center" style="color:navy; font-size:35pt;"> MOVIES OF THE DAY</h2>
        <ul>
            {{ macro.displayMovieList(popular)}}
        </ul>
    </div>
    {% endblock%}
</body>

</html>
