{% extends 'base.html'%}
{% import 'macros.html' as macro%}
{% block content %}
<div class="container">

    <div class="row" style="margin-top:5%">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath"
            style="background: url({{movie.poster}}) no-repeat center center; height: 600px; width: 500px;">
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
            <h3 style=" color:rgb(57, 149, 192);font-weight:bold">{{ movie.title }}</h3>

            <p class="overview"> {{ movie.overview }}</p>
            <p class="ratings"> <b> {{ movie.vote_average }}</b> - <i>{{ movie.vote_count}} votes </i> </p>
            <button class="btn btn-info">
                <a class="ratings" href="/trailer/{{movie.id}}" style="color:white; font-size:15pt;">Watch movie trailer</a>
            </button>
        </div>
    </div>
</div>
{% endblock %}